{{ define "main" }}
<div class="main">
  {{ .Content }}

  {{ $allPages := .Site.RegularPages }}
  {{ range $part := seq 1 9 }}
    {{ $filteredPosts := where $allPages "Params.part" "eq" $part }}

    <div class="part-header-container">
        <img src="/images/kk.webp" alt="Image 1">
        <h1>Part {{ $part }}:</h1> 
        <img src="/images/mp.webp" alt="Image 2">
    </div>
    {{ $sortedPosts := $filteredPosts.ByWeight }}
        {{ range $sortedPosts }}
            <div class="post-block" style="background-image: url('{{ .Params.featuredImage }}');">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </div>
        {{ end }}
  {{ end }}

</div>
{{ end }}