{{ define "main" }}
  <section class="main">
    <h1>{{ .Title }}</h1>
    <div>{{ .Content }}</div>

    <div class="posts-grid">
    {{ $posts := where .Site.RegularPages "Type" "posts" }}
    {{ $sortedPosts := sort $posts "Params.weight" "asc" }} <!-- Sort by weight (optional) -->

    {{ range $sortedPosts }}
      <div class="post-block" style="background-image: url('{{ .Params.featuredImage }}');">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </div>
    {{ end }}
  </div>
  </section>
{{ end }}