{{ define "main" }}
<div class="main">
  {{ .Content }}

  <div class="post-navigation">
    <div class="nav-left">
      {{ $currentWeight := .Params.weight }}
      {{ $prevWeight := sub $currentWeight 1 }}
      {{ range .Site.RegularPages.ByWeight }}
        {{ if and (isset .Params "weight") (eq .Weight $prevWeight) }}
          <a href="{{ .Permalink }}" class="nav-link prev-post">
            &larr; Previous: {{ .Title }}
            <img src="{{ .Params.featuredImage }}" alt="{{ .Title }}" class="nav-image">
          </a>
        {{ end }}
      {{ end }}
    </div>
  
    <div class="nav-right">
      {{ $nextWeight := add .Params.weight 1 }}
      {{ range .Site.RegularPages.ByWeight }}
        {{ if and (isset .Params "weight") (eq .Weight $nextWeight) }}
          <a href="{{ .Permalink }}" class="nav-link next-post">
            Next: {{ .Title }} &rarr;
            <img src="{{ .Params.featuredImage }}" alt="{{ .Title }}" class="nav-image">
          </a>
        {{ end }}
      {{ end }}
    </div>
  </div>
  
{{ end }}

